/*1024-1229*/
@media screen and (max-width: 1229px) {
    .container {
        padding: 0 25px;
    }

    .header .container {
        padding: 0 55px;
    }

    .main {
        background-image: url("../../images/main.png");
        background-repeat: no-repeat;
        background-size: cover;
        background-position-y: bottom;
        padding: 53px 0 277px;
        background-color: #fff;
    }

    .main-info::after {
        display: none;
    }

    .main-title {
        color: #fff;
    }

    .main-text span {
        color: #2C2C2CFF;
    }

    .info-route img {
        top: 161px;
        right: 155px;
    }

    .why {
        background-position-y: 43%;
        background-position-x: 55%;
    }

    .why-items {
        grid-template-columns: repeat(4, 220px);
    }

    .item-number {
        margin: 20px auto 20px;
    }

    .gallery-slider > .slick-prev {
        left: 457px;
    }

    .gallery-slider > .slick-next {
        right: 461px;
    }
}

/*768-1023*/
@media screen and (max-width: 1023px) {
    .menu ul {
        justify-content: space-evenly;
    }

    .main-title {
        font-size: 44px;
    }

    .main-text {
        font-size: 26px;
    }

    .main-info {
        grid-template-columns: 222px 1fr;
    }

    .main-button {
        width: 167px;
        font-size: 14px;
        margin-right: 53px;
    }

    .main-button img {
        margin-left: 14px;
    }

    .main-route {
        top: 100%;
    }

    .about {
        padding: 80px 0 50px;
    }

    .about .container {
        grid-template-columns: 493px;
        row-gap: 40px;
        justify-content: center;
    }

    .about-title {
        grid-column: 1/2;
        grid-row: 1/2;
    }

    .about-image {
        grid-row: 2/3;
    }

    .about-text {
        grid-column: 1/2;
        grid-row: 3/4;
        max-width: 493px;
    }

    .why {
        padding: 50px 0 50px;
        background-position-x: 25%;
        background-position-y: 48%;
    }

    .why-title {
        margin: 0 auto 40px;
    }

    .why-items {
        grid-template-columns: repeat(2, 255px);
        justify-content: space-around;
    }

    .item:nth-child(1) > .item-number {
        margin-top: 0;
    }

    .item:nth-child(2) {
        grid-row: 1/2;
        grid-column: 2/3;
    }

    .item:nth-child(3) {
        grid-row: 2/3;
        grid-column: 1/2;
    }

    .item:nth-child(3) > .item-number {
        margin-top: 0;
    }

    .item:nth-child(4) {
        grid-row: 2/3;
        grid-column: 2/3;
    }

    .item-number {
        font-size: 25px;
        width: 49px;
        height: 49px;
        margin: 25px auto 25px;
    }

    .unique {
        padding: 50px 0 80px;
    }

    .unique-items {
        flex-direction: column;
        row-gap: 40px;
        justify-content: center;
    }

    .program {
        padding: 80px 0 50px;
    }

    .program-title {
        margin-bottom: 49px;
    }

    .program-day {
        grid-template-columns: 467px;
        justify-content: center;
        height: 909px;
    }

    .program-image {
        grid-row: 3/4;
        margin-bottom: 25px;
    }

    .day-number {
        grid-column: 1/2;
        margin-bottom: 40px;
    }

    .day-title {
        grid-column: 1/2;
    }

    .day-text {
        grid-row: 4/5;
        grid-column: 1/2;
        margin-bottom: 40px;
    }

    .program-buttons {
        grid-row: 5/6;
        grid-column: 1/2;
        margin-bottom: 39px;
    }

    .program-download {
        grid-row: 6/7;
        grid-column: 1/2;
    }

    .reviews {
        padding: 50px 0 40px;
    }

    .review-item {
        grid-template-columns: 400px;
        padding: 40px 15px 40px;
        justify-content: center;
    }

    .review-name,
    .review-number {
        margin-bottom: 30px;
    }

    .review-text {
        margin-bottom: 24px;
    }

    .review-image {
        grid-row: 4/5;
        grid-column: 1/2;
        justify-self: start;
        margin-bottom: 64px;
    }

    .review-buttons .review-button-prev, .review-buttons .review-button-next {
        grid-row: 5/6;
    }

    .gallery-slider {
        display: none;
    }

    .gallery-images_1023 {
        display: block;
    }
}

/*425-767*/
@media screen and (max-width: 767px) {
    .header {
        padding: 30px 0 30px;
    }

    .header .container {
        padding: 0 15px;
    }

    .menu {
        display: none;
        position: fixed;
        width: 262px;
        margin: 0;
        top: 0;
        right: 0;
        padding: 91px 0 22px;
        background: #2c2c2c;
        flex-direction: column;
    }

    .menu::after {
        content: '';
        background: rgba(44, 44, 44, 0.5);
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        z-index: -1;
    }

    ul {
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        width: 100%;
    }

    .menu-item {
        margin: 15px 0;
    }

    .menu-item a {
        color: #ffffff;
        font-size: 20px;
    }

    .menu.open {
        display: flex;
        align-items: center;
        z-index: 5;
    }

    .menu .close {
        display: block;
        width: 21px;
        height: 21px;
        fill: #fff;
        position: absolute;
        top: 30px;
        right: 23px;
    }

    .burger-icon {
        display: block;
    }

    .burger-icon svg {
        width: 40px;
        height: 25px;
        fill: #2c2c2c;
    }

    .menu-logo {
        display: block;
        margin: 39px 0 22px;
    }

    .menu-line {
        display: block;
        border-bottom: 1px solid #fff;
        position: relative;
        top: -40px;
        width: 100%;
    }

    .main {
        background-image: url("../../images/mainAdaptive.png");
        background-repeat: no-repeat;
        background-position: top;
        background-size: inherit;
        padding-bottom: 80px;
    }

    .main-info {
        grid-template-columns: 1fr;
    }

    .main-title {
        font-size: 30px;
        max-width: 420px;
        margin: 0 auto 33px;
        text-align: center;
    }

    .main-text {
        grid-row: 3/4;
        margin: 0 auto 330px;
        text-align: center;
    }

    .main-button {
        grid-row: 4/5;
        width: 220px;
        margin: 0 auto;
    }

    .main-info .video {
        grid-row: 2/3;
        margin: 0 auto 376px;
    }

    .video-link {
        width: 40px;
        height: 40px;
    }

    .main-route {
        right: 27%;
        top: 70%;
    }

    .info-spots {
        top: -66px;
        right: -99px;
        width: 105px;
    }

    .about .container {
        grid-template-columns: 403px;
    }

    .about-image {
        width: 325px;
        height: 316px;
    }

    .about-image::after {
        width: 363px;
        height: 245px;
        top: 36px;
        left: 21px;
    }

    .why {
        background-image: url("../../images/pathAdaptive.png");
        background-repeat: no-repeat;
        background-position: -297px 153px;
    }

    .why-items {
        grid-template-columns: 250px;
        row-gap: 0;
    }

    .item:nth-child(3) {
        margin-bottom: 55px;
    }

    .item:nth-child(2) {
        grid-row: 2/3;
        grid-column: 1/2;
        margin-bottom: 20px;
    }

    .item:nth-child(3) {
        grid-row: 3/4;
        grid-column: 1/2;
    }

    .item:nth-child(4) {
        grid-row: 4/5;
        grid-column: 1/2;
    }

    .unique-title {
        text-align: center;
    }

    .unique-info-image {
        width: 304px;
        height: 300px;
    }

    .unique-info-image::after {
        width: 334px;
        height: 231px;
        right: 68px;
    }

    .movie .video {
        left: calc(50% - 132px);
        top: calc(50% - 22px);
        width: 334px;
    }

    .program-title {
        margin: 0 auto 40px;
    }

    .program-day {
        grid-template-columns: 407px;
    }

    .program-image {
        width: 359px;
        height: 381px;
    }

    .program-image img {
        width: 331px;
        height: 314px;
    }

    .day-text {
        height: 214px;
    }

    .review-item {
        grid-template-columns: 374px;
    }

    .reviews-title {
        margin-bottom: 40px;
    }

    .review-item {
        padding-right: 16px;
        padding-left: 16px;
    }

    .review-image {
        width: 374px;
        height: 374px;
    }

    .gallery-images_1023 {
        width: 400px;
    }

    .gallery-images_1023 > .slick-prev {
        left: 105px;
    }

    .gallery-images_1023 > .slick-next {
        left: 279px
    }

    .order {
        background: url("../../images/orderAdaptive.png") no-repeat;
        background-size: cover;
    }

    .order-title {
        text-align: center;
        margin-bottom: 35px;
    }

    .gratitude {
        max-width: 367px;
        left: calc(50% - 183px);
    }

    .gratitude-content {
        padding: 60px 9px;
    }

    .gratitude-text {
        margin-bottom: 47px;
    }

    .footer {
        padding: 35px 0 40px;
    }

    .footer .container {
        flex-direction: column;
        row-gap: 25px;
    }
}

/*375-424*/
@media screen and (max-width: 424px) {
    .container {
        padding: 0 15px;
    }

    .main-text {
        width: 220px;
        margin: 0 auto 330px;
    }

    .main-route {
        right: 30%;
    }

    .info-route img {
        width: 250px;
    }

    .info-date {
        top: 106px;
        right: 2px;
    }

    .info-price {
        top: -32px;
        right: 96px;
    }

    .info-spots {
        top: -67px;
        right: -101px;
    }

    .about .container,
    .program-day {
        grid-template-columns: 367px;
    }

    .about-image {
        width: 275px;
        height: 287px;
    }

    .about-image::after {
        width: 346px;
        top: 29px;
    }

    .title {
        font-size: 25px;
    }

    .about-text,
    .unique-info-text {
        font-size: 14px;
    }

    .why {
        background-position: -334px 112px;
    }

    .unique-info-image {
        width: 277px;
        height: 284px;
    }

    .unique-info-image::after {
        width: 301px;
    }

    .program-day {
        grid-template-columns: 359px;
    }

    .day-text {
        font-size: 14px;
    }

    .program-image {
        width: 300px;
        height: 336px;
    }

    .program-image img {
        width: 293px;
        height: auto;
        top: 29px;
        left: 44px;
    }

    .review-item {
        grid-template-columns: 338px;
    }

    .reviews-title {
        text-align: center;
    }

    .review-text {
        font-size: 14px;
    }

    .review-image {
        width: 338px;
        height: 338px;
    }

    .gallery {
        padding: 80px 0 118px;
    }

    .gallery-title {
        text-align: center;
    }

    .gallery-images_1023 {
        width: 367px;
    }

    .gallery-images_1023 > .slick-prev {
        left: 89px;
    }

    .gallery-images_1023 > .slick-next {
        left: 263px
    }

    .order {
        padding:  24px 0 80px;
    }

    .order-form {
        max-width: 367px;
    }

    .order-form_input input {
        max-width: 367px;
    }

    .order-form_button {
        max-width: 367px;
    }

    .gratitude {
        left: calc(50% - 174px);
    }
}


/*320-374*/
@media screen and (max-width: 374px) {
    .video {
        width: 180px;
    }

    .video-text {
        font-size: 15px;
    }
    .main-text {
        font-size: 20px;
    }

    .main-route {
        right: 26%;
        top: 73%;
    }

    .info-route img {
        width: 234px;
    }

    .info-date {
        top: 108px;
        right: 0;
    }

    .info-price {
        top: -34px;
        right: 85px;
        width: 80px;
    }

    .info-spots {
        top: -67px;
        right: -95px;
    }
    .about .container {
        grid-template-columns: 290px;
    }
    .about-image {
        width: 231px;
        height: 259px;
    }
    .about-image::after {
        width: 264px;
        height: 176px;
    }
    .why {
        background-size: inherit;
        background-position: -376px 117px;
    }
    .unique-info-image {
        width: 218px;
        height: 211px;
        right: 129px;
    }
    .unique-info-image::after {
        width: 236px;
        height: 166px;
        top: 23px;
        right: 43px;
    }
    .program-day {
        grid-template-columns: 302px;
        justify-content: flex-start;
    }

    .program-image {
        width: 243px;
        height: 273px;
    }

    .program-image img {
        width: 244px;
        height: 232px;
        top: 21px;
        left: 46px;
    }

    .reviews {
        padding-bottom: 0;
    }

    .review-item {
        grid-template-columns: 276px;
    }

    .review-image {
        width: 276px;
        height: 276px;
    }

    .gallery-images_1023 {
        width: 290px;
    }
    .gallery-image_1023 {
        width: 289px;
        height: 256px;
    }
    .gallery-images_1023 > .slick-prev {
        left: 49px;
        top: 290.5px;
    }

    .gallery-images_1023 > .slick-next {
        left: 225px;
        top: 290.5px;
    }
    .gratitude {
        width: 290px;
        left: calc(50% - 145px);
    }
    .gratitude-title {
        font-size: 22px;
    }
    .gratitude-button {
        width: 179px;
    }
}






































